		<section class="ftco-section ftco-category ftco-no-pt">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-6 order-md-last align-items-stretch d-flex">
								<div class="category-wrap-2 ftco-animate img align-self-stretch d-flex" style="background-image: url({{ 'category.jpg' | asset_url }});">
									<div class="text text-center">
										<h2>Footwear</h2>
										<p>Step into Uniqueness</p>
										<p><a href="/collections/all" class="btn btn-primary">Shop now</a></p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url({{ 'category-1.jpg' | asset_url }});">
									<div class="text px-3 py-1">
										<h2 class="mb-0"><a href="collections/men">Mean</a></h2>
									</div>
								</div>
								<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url({{ 'category-2.jpg' | asset_url }});">
									<div class="text px-3 py-1">
										<h2 class="mb-0"><a href="/collections/adidas">Adidas</a></h2>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url({{ 'category-3.jpg' | asset_url }});">
							<div class="text px-3 py-1">
								<h2 class="mb-0"><a href="collections/women">Women</a></h2>
							</div>		
						</div>
						<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url({{ 'category-4.jpg' | asset_url }});">
							<div class="text px-3 py-1">
								<h2 class="mb-0"><a href="collections/kid">Kid</a></h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

    
    {% schema %}
{
  "name": "Vegetables Section index",
  "settings": [
  
  ],
  "presets": [ 
    {
      "name": "Vegetables Section index"
    }
  ]
}
{% endschema %}